<div class="header-container">
  <img id="jukebox-image" src="assets/img/jukebox.png" alt="Jukebox image.">
  <header>Rock It Jukebox</header>
</div>

<div class="main-container">
  <section id="available-songs">
    <ul id="songs-list">
      {{#each songs}}
        {{#unless this.play}}
          <li class="available-songs">
            <span class="songs">
              {{this.id}}
              {{this.song_name}}
            </span>
            <span id="play-button">
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="play" value="true">
                <button class="play-button" type="submit">Play it!</button>
              </form>
            </span>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </section>
  <section id="play-songs">
    <ul>
      {{#each songs}}
        {{#if this.play}}
          <li class="play-song">
            {{this.id}}
            {{this.song_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </section>
  <section id ="new-song">
    <form class="create-update-form" action="/" method="POST">

      <div class="form-group">
        <textarea id="new-song-text" rows="4" name="song_name"></textarea>
      </div>

      <button type="submit" id="new-song-submit">Submit</button>
    </form>

    <p>Enter a song you want to play. Click the "Submit" button.</p>

  </section>
</div>

